.childPageContainer {
  width: 1200px;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  margin: 50px auto;

  .title {
    font-weight: bold;
    justify-content: center;
    display: flex;
    padding-bottom: 25px;
    font-size: 28px;
  }



}